<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myreels/style.css' %}"/>
     <link rel="stylesheet" type="text/css" href="../../static/myreels/search.css" />
    <title> Reels -  Welcome! </title>
</head>
<body class="cn">
<div class="" >

<div class="header-wrap">
        <a href="{% url 'myreels:index' %}" class="title">Reels</a>
<div class="header-search">



    <button class="btn-header"> <a href="{% url 'myreels:search' %}">Search</a></button>

{#              <i class="fas fa-search"></i>#}

{% if user.is_authenticated %}
    <button class="btn-header"><a href= "{% url 'myreels:view_orders' %}"> View Orders </a> </button>
<p class="username">Hi {{ user.username }} !</p>
     <button class="btn-header"><a href= "{% url 'myreels:logout' %}"> Logout </a> </button>


    {%  else %}

    <button class="btn-header"><a href= "{% url 'myreels:register' %}"> Register </a> </button>
        <button class="btn-header"><a href= "{% url 'myreels:login' %}"> SignIn </a> </button>
{#    <button class="btn-header"><a href= "{% url 'myreels:login' %}"> SignIn </a> </button>#}

{% endif %}
{#            <button><a class = "signup-text" href="{% url 'myreels:register' %}">Signup</a></button>#}
{#           <button><a href="{% url 'myreels:login' %}">Login</a></button>#}

</div>
        </div>
{#<div class="hd__cn">#}
{#    <div class="header-wrap">#}
{#        <div class="title"><a href = "{% url 'myreels:index'%}">Reels</a></div>#}
{##}
{#        </div>#}
{#</div>#}
    {% block body_block %}*** {% endblock %}
</div>
{#<div>#}
{#     <img class="banner"src="../../static/myreels/movies_banner/index.jpeg" />#}
{#</div>#}


<div>
    <ul>
{#        <li class="hbar1"><a href="http://127.0.0.1:8000/about/"> Find out about this site </a></li>#}
{#        <li class="hbar1"><a href = "{% url 'myreels:index'%}"> Click here to return to main page </a><br/></li>#}

{#        <li class="hbar1"><a href= "{% url 'myreels:logout' %}"> Logout </a> </li>#}
    </ul>
</div>
</body>
