{% extends 'myreels/base.html' %}
{% block body_block %}
<body>
<div class = "login-wrapper">
    <div class = "login-form">
        <h1 class = "mb-3">Login</h1>
<form method="post" action="">
		{% csrf_token %}


        {{ form }}

        <input type="submit" value="Reset Password">
    </form>

{#        <p>Don't you have an account? <a href="{% url 'myreels:register' %}"> Sign Up</a></p>#}
{#        <p>Forgot Password? <a href="{% url 'myreels:forgot_password' %}"> Forgot Password</a></p>#}
    </div>
</div>

</body>
{% endblock %}